services:
  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    restart: unless-stopped
    env_file: .env
    network_mode: "none"
    healthcheck:
      test: ["CMD", "autoheal", "--help"]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 1s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
