# Dashy configuration
# Docs: https://dashy.to/docs/configuring

pageInfo:
  title: Dashy
  description: "Self-hosted dashboard"

appConfig:
  theme: colorful
  layout: auto
  iconSize: medium

sections:
  - name: Quick Links
    icon: fas fa-rocket
    items:
      - title: Homepage
        description: Rakkib homepage
        url: "https://{{HOMEPAGE_SUBDOMAIN}}.{{DOMAIN}}"
        icon: fas fa-home
