services:
  serge:
    image: ghcr.io/serge-chat/serge:latest
    container_name: serge
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - {{DATA_ROOT}}/data/serge/weights:/usr/src/app/weights
      - {{DATA_ROOT}}/data/serge/db:/data/db
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
