# Anse environment file
# Upstream: https://github.com/anse-app/anse

# Your API Key for OpenAI (optional; you can also set it in the UI)
OPENAI_API_KEY=

# Custom base url for OpenAI API (optional). Default: https://api.openai.com
OPENAI_API_BASE_URL=

# Inject analytics or other scripts before </head> of the page (optional)
HEAD_SCRIPTS=

# Secret string for the project. Used for generating signatures for API calls.
SECRET_KEY={{ANSE_SECRET_KEY}}

# Set password for site. If not set, site will be public.
SITE_PASSWORD=

# ID of the model to use (optional)
OPENAI_API_MODEL=
